[submodule "rtmidi"]
	path = rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "fluidsynth"]
	path = fluidsynth
	url = https://github.com/FluidSynth/fluidsynth
[submodule "midiparser/midifile"]
	path = midiparser/midifile
	url = https://github.com/craigsapp/midifile
[submodule "midiparser/--name"]
	path = midiparser/--name
	url = https://github.com/craigsapp/midifile
